extends layout

block content
    div.jumbotron
        div.container
            h1.display-4 浮标漂移测试
            ul.list-group.list-group-flush
                li.list-group-item
                    p.lead
                        b 浮标初始位置坐标固定， 漂移坐标
                            i 超出设定最大距离后发出推送
                li.list-group-item
                    p.lead
                        b 假定生成的浮标漂移坐标由卫星上传，则
                            i APP实时更新浮标漂移位置
                li.list-group-item
                    p.lead
                        b 演示方便起见，设定最大漂移距离定为 1（km），可自行调整
            div.form-group
                div.input-group.mb-lg-3
                    div.input-group-prepend
                        span.input-group-text 初始坐标（坐标固定）
                    input.form-control-lg.form-control-plaintext(type="text" readonly placeholder="30.66" aria-label="30.66" aria-describedby="basic-addon1")
                    input.form-control-lg.form-control-plaintext(type="text" readonly placeholder="122.20" aria-label="122.20" aria-describedby="basic-addon1")
            div.form-group
                div.input-group.mb-lg-3
                    div.input-group-prepend
                        span.input-group-text 漂移坐标（坐标变化）
                    input#lat.form-control-lg.form-control-plaintext(type="text" readonly placeholder="0" aria-label="0" aria-describedby="basic-addon1")
                    input#lng.form-control-lg.form-control-plaintext(type="text" readonly placeholder="0" aria-label="0" aria-describedby="basic-addon1")
            div.form-group
                div.input-group.mb-lg-3
                    div.input-group-prepend
                        span.input-group-text 最大可漂移距离
                    input.form-control-lg.form-control-plaintext(type="text" readonly placeholder="1 km" aria-label="1 km" aria-describedby="basic-addon1")
            button#btn.btn.btn-primary.btn-lg.btn-block(type='button') 生成浮标漂移后坐标（经纬度）
