doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascript/jquery.js')
        script(src='/javascript/index.js')
    body
        block content
