doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
        link(rel='stylesheet' href='https://at.alicdn.com/t/font_830376_qzecyukz0s.css')
        title 智慧渔业
        link(href='static/css/403.973b0995.css' rel='prefetch')
        link(href='static/css/404.2189cf26.css' rel='prefetch')
        link(href='static/css/chart.58b9dfa1.css' rel='prefetch')
        link(href='static/css/dashboard.0cff7578.css' rel='prefetch')
        link(href='static/css/home.3db295aa.css' rel='prefetch')
        link(href='static/css/login.45692d81.css' rel='prefetch')
        link(href='static/css/permission.e35d7ec1.css' rel='prefetch')
        link(href='static/css/table.126bc2b8.css' rel='prefetch')
        link(href='static/css/upload.cded8d15.css' rel='prefetch')
        link(href='static/js/403.e843d0c1.js' rel='prefetch')
        link(href='static/js/404.13837b6f.js' rel='prefetch')
        link(href='static/js/chart.2bf585db.js' rel='prefetch')
        link(href='static/js/dashboard.75b6dbf8.js' rel='prefetch')
        link(href='static/js/home.a290773a.js' rel='prefetch')
        link(href='static/js/login.e3ff2f12.js' rel='prefetch')
        link(href='static/js/permission.2a46890a.js' rel='prefetch')
        link(href='static/js/table.7a788941.js' rel='prefetch')
        link(href='static/js/table~upload.b372252d.js' rel='prefetch')
        link(href='static/js/upload.2e51722d.js' rel='prefetch')
        link(href='static/css/app.2b293855.css' rel='preload' as='style')
        link(href='static/css/chunk-vendors.b80cec6e.css' rel='preload' as='style')
        link(href='static/js/app.e29a2341.js' rel='preload' as='script')
        link(href='static/js/chunk-vendors.c531ba0a.js' rel='preload' as='script')
        link(href='static/css/chunk-vendors.b80cec6e.css' rel='stylesheet')
        link(href='static/css/app.2b293855.css' rel='stylesheet')
    body
        noscript
            strong
                | We're sorry but vms doesn't work properly without JavaScript enabled. Please enable it to continue.
        #app
        script(src='static/js/chunk-vendors.c531ba0a.js')
        script(src='static/js/app.e29a2341.js')
